#jumbotron {
    background-color: gray;
    border-radius: 10px;
    /* height: 100%;
    line-height: 100%; */
}

#head  {
    background-image: url('../img/me.jpg');
    /* jika menggunakan atribut "background", maka atribut "background-img tidak akan dimuat" (shorthand) */
    /* background: no-repeat; */
    background-repeat: no-repeat;
    /* atribut "backgroud-size" memeiliki 3 properti : auto, containt, cover*/
    background-size: cover;
    /* background-position: center top; */
    height: 100%;
    width: 100%;
    padding: 100px 50px;
    margin: 0px;
    color: white;
    text-shadow: 2px 2px black;
}

#head h1 {
    font-size: 50px;
}

#head h1 b a {
    text-decoration: none;
    color: white;
}

#head #img {
    height: 130px;
}

#navbar {
    background-color: white;
}

#nav {
    width: 100%;
}

#nav li {
    position: relative;
}

#nav li ul {
    position: relative;
    /* display: inline-block; */
    border: none;
    text-align: center;
    top: 0;
}

#nav li a {
    color: gray;
}

#content {
    width: 50%;
    text-align: center;
    margin: 50px 0px;
}

#comment {
    width: 50%;
    background-color: whitesmoke;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 30px;
    /* text-align: center; */
}

#comment h5 {
    text-align: center;
}

#comment td {
    /* background-color: white; */
    /* border-radius: 10px; */
    /* border: 1px solid black; */
    padding: 10px;
    /* text-align: center; */
    /* display: block; */
}

#footer {
    background-color: black;
    padding: 20px 0px;
}

#footer ul {
    margin-bottom: 0px;
    padding: 0px;
}

#footer li {
    list-style: none;
    padding: 2px 0px;
}


#footer li a {
    color: white;
    font-size: medium;
    text-decoration: none;
}

#footer li i {
    color: white;
    font-size: medium;
    text-decoration: none;
}

#footer #title {
    padding: 0px 10px;
}

#footer #title h4 {
    font-weight: bolder;
    color: white;
}

@media screen and (max-width: 992px) {
    #content {
        width: 75%;
        text-align: center;
        margin: 50px 0px;
    }
}

